<div class="container">
    <div class="col-8">
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                                  data-toggle="collapse" data-target="#navbar"
                                  aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                    Retail Store on Blockchain</a>
                  </div>
                </div>
                <div class="panel-body">
                    <img [src]="cashRegisterImage">
                </div>
                <div class="well">
                  <div>
                  Your account: {{account}}
                </div>
                <div>
                  Your balance: {{account_balance}} ETH
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
